body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}

#container {
    text-align: center;
}

#risultati {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

#regole {
    font-size: 18px;
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

